<!--
author: Akoto Ian

-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Gh Drought Monitoring System</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Viticulture Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />


<link href="/static/app/content/style.css" rel="stylesheet" />
<link href="/static/app/content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/app/content/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->

<script type="text/javascript" src="/static/app/scripts/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link rel="stylesheet" href="/static/app/content/colorbox.css" />
<!-- font-awesome-icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- //font-awesome-icons -->
</head>
	
<body>

	<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="{%  url 'home' %}">GHANA <span>CLIMATE</span><p class="logo_w3l_agile_caption">HUB</p></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--iris">
						<ul class="nav navbar-nav ">
							<li class="menu__item menu__item--current"><a href="{% url 'home' %}" class="menu__link">Home</a></li>

							<li class="menu__item"><a href="{% url 'dataset' %}" class="menu__link scroll" >Dataset</a></li>



						    <li ><a href="{% url 'compare' %}" class="menu__link scroll" >Drought Monitor</a></li>
						    
							

							<li class="menu__item"><a href="{% url 'mail' %}" class="menu__link scroll">Mail Us</a></li>
							<li class="menu__item"><a href="{% url 'about' %}" class="menu__link scroll">About Us</a></li>
						</ul>
					</nav>
				</div>
			</nav>

		</div>
	</div>

<!-- portfolio -->
	<div class="services">
		<div class="container">
			<h3 class="w3l_header w3_agileits_header1">Know <span>Us</span></h3>
			<!-- about-bottom -->
		<div class="about-bottom">
			<!-- container -->
			<div class="container">
				<div class="about-agileinfo">
					<div class="col-md-6 about-w3grid">
						<img src="/static/app/images/teamwork.jpg" alt="" />
					</div>
					<div class="col-md-6 about-w3grid">
					  <h5>&nbsp;</h5>
					  <p>Did you know that the whole of West Africa is a drought prone area?</p>
						<p>Did you also know that Rainfall variability, driven by global and regional climatic processes accounted for the major &nbsp;droughts in 1982/83, 1992, 1997, 2001, 2007 and 2015/2016? This eventually resulted in adverse socio-economic impacts on the nation at large. Nothing much could be done to prevent it due to the absence of and/or lack of reliable high resolution hydro-meteorological data.</p>
						<p>Africa at large also has no such platform to monitor drought occurrences and predict the next likely drought zone. This challenge was thrown to us to develop a high resolution online National Drought Observatory, which will incorporate satellite data to monitor Rainfall, Vegetation Health and Plant Water stress to serve as an early drought warning system (EDWS). </p>
						<p>This will be achieved with the aid of the Google Earth Engine platform which provides a multi-petabyte catalogue of satellite data with global-scale analysis capabilities to allow land surface and hydro-meterological monitoring.</p>
						<p>We have heard the cries of the farmers and the society at large. No more famine! No more limited food supply! No more heat-related illnesses, waterborne and cardiorespiratory illnesses!</p>
						<p>The farmer will be happy again, society will smile again, the nation at large will progress and move forward....Forward ever, backwards never. </p>
						<p>&nbsp;</p>
						
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- container -->
		</div>
		<!-- about-bottom -->
		<!-- about-team -->
		<div class="about-team agileits-w3layouts">
			<!-- container-wrap -->
			<div class="container">
				<h3>Our Team</h3>
				<div class="team-wthreegrids">
					<div class="col-md-3 team-grid">
						<img src="/static/app/images/Samuel_Andam-Akorful.png" alt="">
						<h6>S. A. Andam-Akorful (PhD)</h6>
						<div class="team-w3icons w3-agileitsicons"> 
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
								<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
							</ul>  
						</div>
						<p> Lecturer, Geomatic Engineering Dept.<br />
				  KNUST, Kumasi, Ghana.
					 +233209104956<br/>aarkoful@gmail.com<br />
https://www.researchgate.net/profile/Samuel_Andam-Akorful/stats</p>
					</div>
					<div class="col-md-3 team-grid">
					</p>
					</div>
					<div class="col-md-3 team-grid">
					
					</div>
					<div class="col-md-3 team-grid">
						<img src="/static/app/images/IAN AKOTO.png " alt="">
						<h6>Akoto Ian</h6>
						<div class="team-w3icons w3-agileitsicons"> 
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
								<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
							</ul>  
						</div>
						<p> Developer<br/>
						Geomatic Engineering Dept.<br />
				  KNUST, Kumasi, Ghana.
					 +233501426384<br/>
iancecilakoto@gmail.com</p> </p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //about-team -->
		<!-- choose -->
		<div class="choose">
			<!-- container -->
			<div class="container ">
				<h3>SPONSORS</h3>
				<div class="team-wthreegrids">
						  <div class="col-md-4">
						<div class="thumbnail"><img src="/static/app/images/google cloud.png"%}" alt="Thumbnail Image 1">
						 
						</div>
				   
				  </div>
				  

						  <div class="col-md-4">
						<div class="thumbnail"><img src="/static/app/images/earthengine logo.png" alt="Thumbnail Image 1">
						 
						</div>
				   
				  </div>


					  <div class="col-md-4">
						<div class="thumbnail"><img src="/static/app/images/bsu.jpg  " alt="Thumbnail Image 1">
						 
						</div>
				   
				  </div>
			   
					  <div class="col-md-4">
						<div class="thumbnail"><img src="/static/app/images/danida-logo.jpg" alt="Thumbnail Image 1">
						 
						</div>
				  
				  </div>
			   
					  <div class="col-md-4">
						<div class="thumbnail"><img src="/static/app/images/KNUST.jpg" alt="Thumbnail Image 1">
						 
						</div>
					</div>
				  
				
				  
				</div>
</div>
			<!-- //container -->
		</div>
		<!-- //choose -->
		</div>
	</div>
<!-- //portfolio -->
<!-- pop-up-plugin -->
	<script src="/static/app/js/jquery.colorbox.js"></script>
	<script>
		$(document).ready(function(){
			//Examples of how to assign the Colorbox event to elements
			$(".group1").colorbox({rel:'group1'});
			$(".callbacks").colorbox({
				onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			});
			
			//Example of preserving a JavaScript event for inline calls.
			$("#click").click(function(){ 
				$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				return false;
			});
		});
	</script>
<!-- //pop-up-plugin -->
<!-- filter-plugin -->
	<script src="/static/app/scripts/jquery.filterizr.js "></script>  
	<script src="/static/app/scripts/controls.js"></script>
	<!-- Kick off Filterizr -->
	<script type="text/javascript">
		$(function() {
			//Initialize filterizr with default options
			$('.filtr-container').filterizr();
		});
	</script>	
<!-- //filter-plugin -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 w3layouts_footer_grid">
				<h2>Follow <span>Us</span></h2>
				<ul class="social_agileinfo">
					<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="col-md-8 w3layouts_footer_grid">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email..." required="">
					<input type="submit" value="">
				</form>
				<ul class="w3l_footer_nav">
					<li><a href="{% url 'home'%}">Home</a></li>
					<li><a href="{% url 'dataset'%}">Dataset</a></li>

					<li><a href="{% url 'compare'%}">Drought Monitor</a></li>
					<li><a href="{% url 'mail'%}">Mail Us</a></li>
					<li><a href="{% url 'about'%}">About Us</a></li>
					
				
				</ul>
				
			</div>
			<div class="clearfix"> </div>
			<!--Earth engine Icon-->
<div style="color: black" >	
<a href="https://earthengine.google.org">
 <img class="powered-by-ee" alt="Powered by Google Earth Engine"src="/static/app/images/google_earthengine_powered_400px.png">
	  </a>	
</div>
		</div>
	</div>
<!-- //footer -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/app/scripts/move-top.js"></script>
<script type="text/javascript" src="/static/app/scripts/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="/static/app/scripts/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>