<!--
author: Akoto Ian
-->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Gh Drought Monitoring System</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Viticulture Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- font -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<link href=" ../../static/app/content/style.css" rel="stylesheet" />
<link href=" ../../static/app/content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href=" ../../static/app/content/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->

<script type="text/javascript" src="../../static/app/scripts/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link rel="stylesheet" href="../../static/app/content/colorbox.css" />



</head>
	
<body>
<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="{%  url 'home' %}">GHANA <span>CLIMATE</span><p class="logo_w3l_agile_caption">HUB</p></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--iris">
						<ul class="nav navbar-nav ">
							<li class="menu__item menu__item--current"><a href="{% url 'home' %}" class="menu__link">Home</a></li>

							<li class="menu__item"><a href="{% url 'dataset' %}" class="menu__link scroll">Dataset</a></li>



						    <li ><a href="{% url 'compare' %}" class="menu__link scroll" >Drought Monitor</a></li>
						    
							

							<li class="menu__item"><a href="{% url 'mail' %}" class="menu__link scroll">Mail Us</a></li>
							<li class="menu__item"><a href="{% url 'about' %}" class="menu__link scroll">About Us</a></li>
						</ul>
					</nav>
				</div>
			</nav>

		</div>
	</div>

<!-- mail -->
	<div class="services">
		<div class="container">
			<h3 class="w3l_header w3_agileits_header1">Get in <span>Touch</span></h3>
			<div class="w3layouts_mail_grid">
				<div class="col-md-4 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>Mail Us</h3>
						projectearthengine@gmail.com<br>
					</div>
				</div>
				<div class="col-md-4 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>Address</h3>
						<p>Department of Geomatic Engineering, KNUST </p>
					</div>
				</div>
				<div class="col-md-4 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>Phone</h3>
						<p>+(233) 0501426384/0209104956</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="w3_agile_map">
		<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCWqVOWyU2w8RXwGYsKKMhmc&key=AIzaSyCmxBB9UYptrJc_ymPIkMmeNKBYj-Elyqg" allowfullscreen></iframe>
	</div>
	<div class="services">
		<div class="container">
			<h3 class="w3l_header w3_agileits_header1">Contact <span>Info</span></h3>
			<div class="w3layouts_mail_grid">
				<div class="col-md-5 agileits_mail_grid_left agileinfo_mail_grid_left">
					<div class="agileits_mail_grid_lft_grid wthree_mail_grid_lft_grid">
						<h4>KNUST</h4>
						<ul>
							<li><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Department of Geomatic Engineering</li>
							<li><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Kumasi-Ghana</li>
						</ul>
					</div>
</div>
				<div class="col-md-7 agileits_mail_grid_right agileits_w3layouts_mail_grid_right">
					<div class="agileits_mail_grid_right1 agile_mail_grid_right1">
						<form action="#" method="post">
							<span>
								<i>Name</i>
								<input type="text" name="Name" placeholder=" " required="">
							</span>
							<span>
								<i>Email</i>
								<input type="email" name="Email" placeholder=" " required="">
							</span>
							<span>
								<i>Subject</i>
								<input type="text" name="Subject" placeholder=" " required="">
							</span>
							<span>
								<i>Message</i>
								<textarea name="Message" placeholder=" " required></textarea>
							</span>
							<input type="submit" value="Submit Now">
						</form>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //mail -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 w3layouts_footer_grid">
				<h2>Follow <span>Us</span></h2>
				<ul class="social_agileinfo">
					<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="col-md-8 w3layouts_footer_grid">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email..." required="">
					<input type="submit" value="">
				</form>
				<ul class="w3l_footer_nav">
					<li><a href="{% url 'home'%}">Home</a></li>
					<li><a href="{% url 'dataset'%}">Dataset</a></li>

					<li><a href="{% url 'compare'%}">Drought Monitor</a></li>
					<li><a href="{% url 'mail'%}">Mail Us</a></li>
					<li><a href="{% url 'about'%}">About Us</a></li>
					
				
				</ul>
				
			</div>
			<div class="clearfix"> </div>
			<!--Earth engine Icon-->
<div style="color: black" >	
<a href="https://earthengine.google.org">
 <img class="powered-by-ee" alt="Powered by Google Earth Engine"src="../../static/app/images/google_earthengine_powered_400px.png">
	  </a>	
</div>
		</div>
	</div>
<!-- //footer -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../../static/app/scripts/move-top.js"></script>
<script type="text/javascript" src="../../static/app/scripts/easing.js"></script>

	
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="../../static/app/scripts/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>